<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/static/logo/reu.png" rel="shortcut icon">
  <title>Title</title>
</head>
<body>
<a th:href="@{/admin/users/setrole/{id}(id=${userForm.getId()})}" class="link">Сменить роль</a>
<div method="post" th:action="@{/admin/users/setrole/{id}(id=${userForm.getId()})}" th:object="${role}"></div>
<input type="submit" class="key" value="Зарегистрироваться">

<a th:href="@{/admin/users/setrole/{id}(id=${userForm.getId()})}" class="link">Сменить роль</a>
</body>
</html>